# Archivo de configuración de variables de entorno - APECC
PORT=3000
PORT_HTTPS=3443
NODE_ENV=development

# Clave secreta para generación y firma de JWT (mínimo 64 caracteres)
JWT_SECRET=tu_clave_secreta_jwt_de_ejemplo_minimo_64_caracteres_para_produccion_x99

# Clave de cifrado simétrico AES-256 (mínimo 32 caracteres)
ENCRYPTION_KEY=tu_clave_secreta_aes_256_de_ejemplo_para_cifrado_en_reposo!#

# Orígenes CORS autorizados (separados por coma)
CORS_ORIGIN=http://localhost:3000,http://127.0.0.1:3000,https://apecc.org,https://tu-proyecto.vercel.app

# Credenciales de Administrador por defecto (Ejemplo)
ADMIN_USERNAME=admin_apecc
ADMIN_PASSWORD_HASH=$2b$10$EjemploDeHashBcryptGeneradoParaElAdministrador1234567890

